.button-bg {
    cursor: pointer;
    height: 45px;
    width: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    color: #f2f2f2;
    background: #800080;
    background: -webkit-linear-gradient(to right, #ffc0cb, #800080);
    background: linear-gradient(to right, #ffc0cb, #800080);
}

.button-bg > button {
    background-color: #1c1c1c;
    height: 43px;
    width: 138px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.button-bg > button:active {
    height: 41px;
    width: 135px;
}

.user-profile {
    height: 40px;
    width: 40px;
    display: inline-block;
    border-radius: 50%;
    border: 2px solid #f2f2f2;
}