.custom-heading {
    text-shadow:
        -1px -1px 0 #ffffff,
        1px -1px 0 #ffffff,
        -1px 1px 0 #ffffff,
        1px 1px 0 #ffffff;
    color: #1c1c1c;
}

.linear-gradient-button {
    height: fit-content;
    display: inline-block;
    border-radius: 5px;
    padding: 1px;
    background: #800080;
    background: -webkit-linear-gradient(to right, #ffc0cb, #800080);
    background: linear-gradient(to right, #ffc0cb, #800080);
}

.button-gradient {
    padding: 15px 20px;
    border-radius: 5px;
    display: inline-block;
}

.button-dark {
    background: #1c1c1c;
    padding: 15px 20px;
    display: inline-block;
    border-radius: 5px;
}

.custom-snippet-parent {
    background: #800080;
    background: -webkit-linear-gradient(to right, #ffc0cb, #800080);
    background: linear-gradient(to right, #ffc0cb, #800080);
    border-radius: 6px;
    padding: 1px;
}

.custom-pricing-plan {
    background: #800080;
    background: -webkit-linear-gradient(to right, #ffc0cb, #800080);
    background: linear-gradient(to right, #ffc0cb, #800080);
    padding: 1px;
}

.cta-button {
    width: fit-content;
    padding: 0 15px;
}

.custom-heading-snippet {
    text-shadow:
        -1px -1px 0 #800080,
        1px -1px 0 #800080,
        -1px 1px 0 #800080,
        1px 1px 0 #800080;
    color: #1c1c1c;
}

/* @media only screen and (max-width: 600px) {
    .button-gradient, .button-dark {
        padding: 5px 10px;
        display: none;
    }
} */