@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
iframe#webpack-dev-server-client-overlay{display:none!important}

body{
    font-family: 'Poppins', sans-serif;
}
::selection {
    color: #f2f2f2;
    background-color: #800080;
}

/* For Webkit-based browsers */
::-webkit-scrollbar {
    width: 5px; /* Adjust the width to make it thin */
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #1c1c1c; /* Track color */
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #606060; /* Handle color */
    border-radius: 50px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #404040; /* Handle color on hover */
  }
  